

.landingPage {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.buttonsArea {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.formsArea {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.signupPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 100px;
    background-image: url('https://i.pinimg.com/736x/ee/b1/c6/eeb1c61be6a5b23bc562dd0f2999f4ac.jpg');
}

.triviaContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 600px;
    height: 800px;
}

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 600px;
    height: 800px;
}

.answerOptions {
    display: flex;
    flex-direction: column;
}